.showtimesSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;

  background-image: linear-gradient(
      rgba(34, 34, 34, 0.836),
      rgba(0, 0, 0, 0.884)
    ),
    url(/public/pattern.jpg);
  background-repeat: repeat;
  background-size: cover;
}

.showtimesSection h1 {
  text-align: center;
}
