.titleContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.favoriteCinemasCard {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  gap: 1rem;

  /* height: 100%; */
}

.titleContainer svg {
  width: 3rem;
  height: 3rem;
  fill: var(--color-secondary);
}

.favoriteCinemasList {
  max-height: 90%;
  overflow-y: auto;
}
