.datesTabContainer {
  display: flex;
  border-bottom: 1px solid var(--color-gray--4);
  justify-content: space-between;
  gap: 2rem;
}

.tabButton {
  color: var(--color-gray--4);
  font-size: 1.8rem;
  font-weight: 600;
  padding: 1.5rem 1.2rem;
  width: 100%;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid transparent;

  transition: 0.2s all;
}

.tabButton:hover {
  color: var(--color-gray--0);
}

.selected {
  border-bottom: 2px solid var(--color-secondary-light2);
  color: var(--color-secondary-light2);
}

.selected:hover {
  border-bottom: 2px solid var(--color-secondary-light);
  color: var(--color-secondary-light);
}
