.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  aspect-ratio: 22 / 9;
}

.carouselButton {
  position: absolute;
  width: 6rem;
  height: 6rem;
}

.carouselButton svg {
  width: 4rem;
  height: 4rem;
}

.carouselButtonLeft {
  left: 0;
  top: 50%;
  transform: translate(20%, -50%);
  z-index: 99;
}

.carouselButtonRight {
  right: 0;
  top: 50%;
  transform: translate(-20%, -50%);
  z-index: 99;
}
