.image {
  position: relative;
  aspect-ratio: 22 / 9;
  width: 100%;
  filter: brightness(0.3);
}

.slider {
  width: 100%;
  /* mask-image: linear-gradient(to bottom, black 90%, transparent 100%); */
}

.sliderInfo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 70%;
  max-width: 80rem;
}

.sliderInfo h1 {
  font-size: 4.8rem;
}

.sliderInfo blockquote {
  font-size: 2.4rem;
}

.slider button {
  margin-top: 4.2rem;
  justify-self: center;
  font-size: 2.6rem;
}

.buttonsContainer {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.linkButton {
  display: inline-block;
  padding: 1rem 1.4rem;
  border-radius: 9px;
  font-size: 2.6rem;

  background-color: var(--color-secondary);
  color: var(--color-gray--1);
  font-weight: 600;
}

/* MEDIA QUERIES */
@media (max-width: 44em) {
  .sliderInfo blockquote {
    font-size: 1.8rem;
  }
  .buttonsContainer button {
    font-size: 2rem;
  }
  .image {
    aspect-ratio: 14 / 8;
  }
}
@media (max-width: 34em) {
  .image {
    aspect-ratio: 13 / 9;
  }
}
