.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 2.2rem;
  padding: 1rem 2rem;

  max-height: 90vh;
  max-width: 90vw;
}

.container h2 {
  font-size: 2rem;
}

.modalSearchBar {
  width: 100%;
  background-color: var(--color-gray--8) !important;
  box-shadow: var(--shadow-sm);
  font-size: 1.8rem;
  margin-top: 1.8rem;
}
