.layout {
  display: grid;
  flex-direction: column;

  gap: 3rem;
}

/* MAIN SECTION */
.layout section {
  display: grid;
  font-size: 1.8rem;
  grid-template-columns: 1fr 3fr;
  gap: 4.8rem;
  padding: 3.2rem 4.8rem;
  justify-items: center;

  position: relative;
  width: 100vw; /* ocupa todo el ancho visible */
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  border-bottom: 1px solid var(--color-gray--7);
}

.mainSection {
  border-bottom: 1px solid var(--color-gray--7);
}

.poster {
  aspect-ratio: 2 / 3;
  width: 100%;
  max-width: 50rem;
  /* height: auto; */
  border-radius: 9px;
  justify-self: center;
}

.primaryInfo {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.specifications {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.genresList {
  display: flex;
  gap: 1.2rem;
}

.button {
  display: flex;
  justify-content: center;
  align-self: start;
}

/* SECONDARY SECTION */

.secondarySection h3 {
  font-size: 1.8rem;
  color: var(--color-gray--5);
}

.secondarySection span {
  font-size: 1.6rem;
  color: var(--color-gray--3);
}

.divition {
  padding: 1rem 0;
  border-bottom: 2px solid var(--color-gray--8);
}

.trailer {
  width: 100%;
  max-width: 110rem;
}

/* MEDIA QUERIES */
@media (max-width: 59em) {
  .poster {
    display: none;
  }

  .primaryInfo {
    grid-column: 1 / -1;
  }
}

@media (max-width: 44em) {
  .layout section {
    grid-template-columns: 1fr;
    justify-items: start;
  }
}
